*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start header */
header{
    width: 100vw;
    height: 75px;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
}
div.logo{
    width: 100px;
    height: 60px;
    background-image: url('https://fakeimg.pl/100x60/');
    margin-left: 20px;
    margin-top: 6px;
}
nav{
    width: 25em;
}
ul.navFlex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
}
ul.navFlex li{
    align-self: center;
    margin: 10px;
}
.navLink{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}
.dropbtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
/* end header */

/* start settings */
.settings{
    width: 100vw;
    min-height: 500px;
    
    padding-top: 85px;
    padding-left: 50px;
}
.edit{
    width: 75%;
    margin: 20px auto;
}
.currentPic{
    width: 340px;
    height: 240px;
    
}
hr{
    margin-top: 20px;
}

/*end settings */

/* Start css for feed */
div.feed {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 500px 500px 500px;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    border: 1px solid green;
}


div.post {
    /* for testing */
    border: 1px solid blue;
    text-align: center;
    padding: 50px;
    padding-top: 10px;
    
}
.post img{
    max-width: 100%;
    
}

div.addContent {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

div.fullView {
    border: 1px solid purple;
    position: fixed;
    z-index: 999;
    background-color: red;
    max-width: 90%;
    max-height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

div.fullView img {
    max-width: 100%;
    margin: auto;
}

.x {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 2em;
    z-index: 9999;
    font-family: sans-serif;
    cursor: pointer;

}

div.more {
    display: none;
}
/* start profile details */

.container{
    width: 100%;
    padding-top: 100px;
    display: flex;
}
.sideNav{
    width: 25%;
}
.upperSide, .underSide{
    width: 100%;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.userPic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;
}
.info--name{
    margin-bottom: 20px;
}
hr{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.content--details{
    width: 75%;
}


/* end profile details */

@media screen and (max-width: 1500px) {
    /* body {
      background-color: red;
    } */

    div.feed {
        grid-template-columns: 500px 500px;
        grid-template-rows: 500px 500px;
        
    }
  }

  @media screen and (max-width: 1000px) {
    /* body {
      background-color: green;
    } */

    div.feed {
        grid-template-columns: 500px;
        grid-template-rows: 500px;
        
    }
  }

@media screen and (max-width: 500px) {
    /* body {
      background-color: olive;
    } */

    div.feed {
        grid-template-columns: 350px;
        grid-template-rows: 350px;
        
    }
  }




/* end css for feed */